<main class="main">
    <div class="content">
      <div class="pill-group">
        <a *ngIf="city"
            class="pill"
            [href]=""
            target="_blank"
            rel="noopener"
          >
            <span class="fi fi-gb"> </span>
            <span>{{ city | async | uppercase }}</span>
          </a>
          <a *ngIf="startDate and endDate"
            class="pill"
            [href]=""
            target="_blank"
            rel="noopener"
          >
            <span>{{startDate | async | date : "dd.MM.yyyy"}} - {{endDate | async | date : "dd.MM.yyyy"}}</span>
          </a>
          <h1>My Public Events</h1>
      </div>
      <app-container [resultData]="resultData" [addToCart]="false"></app-container>
      <app-footer></app-footer>
    </div>
  </main>
  
