<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{event.title}}</mat-card-title>
    </mat-card-header>
    <div class="flyer">
      <img mat-card-image src={{event.flyerFront}} alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <a href={{event.venue.direction}} target="_blank"
      rel="noopener">
        <span color="primary" class="location" mat-icon-button>
          <mat-icon>location_on</mat-icon>
          <p>{{event.venue.name}}</p>
        </span>
      </a>
      
      <p>| Starts: {{event.startTime | date: "MMM d, y, h:mm:ss a"}}</p>
      <p>| Ends: {{event.endTime | date: "MMM d, y, h:mm:ss a"}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button color="primary" mat-icon-button>
        <mat-icon>add-circle-outlined</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  
